/*FONTS*/
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

img{
  height: 100%;
  width: 100%;
}

/*ESTILOS PARA HEADER*/

.navbar-default .navbar-nav>li>a,
.navbar {
  font-family: 'Open Sans', sans-serif;
}

.navbar-toggle,
.navbar-brand{
  float: none;
}

.navbar-toggle{
  margin-top: 14px;
}

@media (min-width: 768px){
  .navbar-nav {
    float: right;
    margin-top: 10px;
  }

  .navbar-nav>li {
    margin: 0 1rem;
  }
}

/*CONTENIDO*/
#contenido1,
#contenido2{
  color: #ffffff;
}
/*contenido-1*/
#contenido1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  height: 100vh;
  position: relative;
  width: 100%;
}

.cont-movil,
.cont-desk{
  background-color: #f7b617;
  height: 42vh;
  position: absolute;
  top: 16rem;
}

.cont-desk{
  margin-top: 12px;
  height: 50vh;
}

h1,
h3,
h4,
h5{
  font-weight: bold;
}

button.btn.btn-default{
  border-radius: 8px;
  color: black;
  font-size: 16.5px;
  height: 4rem;
}

.cont1-movil{
  margin: 2rem 0;
}

.boton{
  margin-top: 35px;
}

.boton2{
  margin-top: 20px;
}

h3{
  display: inline-block;
}

.logo-cont-desk{
  display: inline-block;
  float: none;
}

/*contenido-2*/

#contenido2{
  background-color: #f7b617;
  height: 50rem;
}
.cont2-movil{
  border: 2px solid #ffffff;
  margin-top: 3rem;
  padding: 4rem;
}

.men-movil{
  margin-top: 3rem;
}

.cont2-desk{
  border: 2px solid #ffffff;
  border-left: 0;
  margin-left: 0;
  margin-top: 4rem;
}

.marg-desk{
  margin: 3rem;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
