/*FONTS*/
/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

/**{
box-sizing: border-box;
}*/

img{
  height: 100%;
  width: 100%;
}

/*ESTILOS PARA HEADER*/

.navbar-default .navbar-nav>li>a,
.navbar {
  font-family: 'Open Sans', sans-serif;
}

.navbar-toggle,
.navbar-brand{
  float: none;
}

.navbar-toggle{
  margin-top: 14px;
}

@media (min-width: 768px){
  .navbar-nav {
    float: right;
    margin-top: 10px;
  }

  .navbar-nav>li {
    margin: 0 1rem;
  }
}

/*CONTENIDO*/
/*contenido-1*/
#contenido1, #contenido3{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100%;
}

.cont-img{
  height: 100%;
}

.cont-movil,
.cont-desk{
  background-color: #f7b617;
  height: 42vh;
  position: absolute;
  top: 27rem;
  right: 0;
}

.cont-desk{
  margin-top: 12px;
  height: 50vh;
}

h1,
h2,
h3,
h4,
h5,
span,
p{
  color: #ffffff;
  font-weight: bold;
}

button.btn.btn-default{
  border-radius: 8px;
  color: black;
  font-size: 16.5px;
  height: 4rem;
}

.cont1-movil{
  margin: 2rem 0;
}

.boton{
  margin-top: 35px;
}

.boton2{
  margin-top: 20px;
}

h3{
  display: inline-block;
}

.logo-cont-desk{
  display: inline-block;
  float: none;
}

/*contenido-2*/

#contenido2{
  background-color: #f7b617;
  height: 50rem;
  z-index: 1000;
}
.cont2{
  z-index: 1000;
}
.cont2-movil{
  border: 2px solid #ffffff;
  margin-top: 3rem;
  padding: 4rem;
}

.men-movil{
  margin-top: 3rem;
}

.cont2-desk{
  border: 2px solid #ffffff;
  border-left: 0;
  margin-left: 0;
  margin-top: 4rem;
}

.marg-desk{
  margin: 3rem;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

/*contenido-3*/
#contenido3{
  height: 40vh;
  position: relative;
}

.cont3{
  position: absolute;
  top: 3rem;
}
.img-row{
  height: 122%;
  position: absolute;
  bottom: 0rem;
  z-index: -1;
}
.text3{
  position: absolute;
  background-color: rgba(52, 52, 56, 0.82);
  top: 0;
  padding: 3rem 2rem;
  height: 100%;
  float: right;
  right: 0;
}
.text-3{
  font-size: 1.3em;
}
button.btn.btn-default.boton3{
  background-color: #f7b617;
  color: #ffffff;
}

@media (min-width: 768px){
  .img-row{
    bottom: 0;
  }
  #contenido3{
    height: 99vh;
  }

  .col-lg-4 {

  }
  .marg-t{
    margin-top: 14rem;
  }
}

@media (min-width: 1200px)
bootstrap.min.css:14
.col-lg-4 {
  width: 33.33333333%;
}
